* {
  user-select: none;
  -webkit-user-select: none;
}

*:focus {
  outline: none;
}

body {
  background-color: #f0f0f0;
}

#nav {
  padding: 0;
  list-style-type: none;
}

.nav-item {
  display: inline;
  padding: 5px;
  background-color: #d0d0d0;
  cursor: pointer;
}
