* {
  user-select: none;
  -webkit-user-select: none;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

*:focus {
  outline: none;
}

body {
  background-color: #f0f0f0;
}

#nav {
  background-color: #303030;
}

.nav-item {
  display: inline-block;
  margin: 7px 0 7px 7px;
  padding: 7px;
  border: none;
  border-radius: 4px;
  border: none;
  transition: background-color 0.5s ease;
  color: white;
  font-family: 'Roboto';
  font-weight: bold;
  cursor: pointer;
}

.nav-item:hover {
  background-color: #505050;
}

.header {
  height: 100px;
  text-align: center;
  background-color: #303030;
}

h1, h3 {
  padding-bottom: 15px;
  font-family: 'Roboto Slab';
  color: #fff;
}

h1 {
  font-size: 50px;
}

#hex-input-container {
  font-weight: bold;
  font-size: 20px;
  color: white;
  font-family: 'Roboto Slab';
  font-weight: bold;
}

#hex-input {
  border: none;
  border-radius: 4px;
  padding: 5px;
  background-color: #505050;
  color: white;
  font-family: 'Roboto Slab';
  font-size: 16px;
  width: 100px;
  font-weight: bold;
}

#hex-display-container {
  width: 100%;
  white-space: nowrap;
}

.hex-display {
  display: inline-block;
  width: 50%;
  height: 100%;
  font-family: 'Roboto Slab';
}

#hex-display-text {
  color: black;
  background-color: white;
}

#hex-display-background {
  color: white;
  background-color: black;
}
